@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

--root {
    --main-background: hsl(233, 47%, 7%);
    --card-background: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);
    --heading: white;
    --body: hsla(0, 0%, 100%, 0.75);
}

body {
    font-family: 'Inter', sans-serif;
}