@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --main-background: hsl(233, 47%, 7%);
    --card-background: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);
    --heading: white;
    --body: hsla(0, 0%, 100%, 0.75);
}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-background);
    color: var(--body);
    padding: 1.5em;
}

.highlight {
    color: var(--accent);
}

.card {
    background: var(--card-background);
    border-radius: 0.5em;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    padding: 2.5em 1.875em 1.875em 1.875em;
}

.card-header-title {
    font-size: clamp(1.75em,4.8vw,2.25em);
    color: var(--heading);
    margin-bottom: .8em;
}

.card-image-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.card-image-wrapper::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(171, 92, 219, .5);
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
